body {
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: auto;
}
h1, h1 a {
    text-decoration: none;
    color: white;
    text-align: center;
}
ul {
    display: inline-block;
    width: auto;
}
nav li {
    list-style-type: none;
    display: inline;
    display: contents;
}
nav li a {
    display: inline;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    text-align: justify;
}
.gauche a img {
    width: 80%;
    outline: 2px solid cyan;
}
a {
    color: cyan;
    border-right-color: blueviolet ;
}
a:hover {
    color: white;
}
strong{
    border-left: 1px solid rgb(255, 255, 255);
    padding-left: 5px;
}
hr {
    background-color: rgb(255, 255, 255);
    height: 5px;
}
b {
    color: rgb(180, 169, 169);
}
.global {
    margin-left: 30px;
    margin-right: 30px;
}
.gauche {
    position: relative;
    float: left;
}
.gauche a img {
    width: 500px;
    outline: 2px solid cyan;
}
.millieu {
    color: white;
    width: 13%;
    text-align: justify;
    float: left;
    margin-left: 32px;
    margin-top: 50px;
    font-size: 18px;
    height: 620px;
}
.droite {
    float: inline-end;
    margin-left: 30px;
}
video {
    width: 700px;
    height: 350px;
    outline: 2px solid cyan;
}